
.fw-box {
	padding: 20px;
	height: 350px;
	overflow: auto;
	text-align: center;
	border-radius: 10px;
	background-color: #fcfcfc;
}

.fw-box .fw-box-header {
	width: 100%;
	font-size: 16pt;
	font-weight: 500;
	margin: 0 0 20px 0
}

.fw-box p {
	font-size: 14pt;
}

.welcome-banner {
	margin-bottom: 50px;
	text-align: center;
}

.company-profile {
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	background-color: rgb(226, 241, 255);
}

.profile-name {
	font-size: 24px;
}
